@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");

/* Home Page */
body {
  padding: 10px 20px;
  color: white;
  background-image: url(../Images/background-home-desktop.jpg);
  background-size: cover;
  font-family: "Barlow Condensed", sans-serif;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header nav {
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
  height: 100px;
  display: flex;
  justify-content: center;
  padding-left: 50px;
  align-items: center;
  margin-right: -28px;
  position: relative;
}

header nav img {
  display: none;
}

header .icon img {
  display: none;
}

header nav::before {
  content: "";
  background-color: white;
  height: 1px;
  width: 473px;
  position: absolute;
  top: calc(50% - 1px);
  left: -420px;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
  margin-right: 50px;
  position: relative;
  text-transform: uppercase;
}

header nav ul li::before {
  content: "";
  background-color: white;
  opacity: 0;
  width: calc(100% + 4px);
  height: 3px;
  position: absolute;
  left: -2px;
  top: 56px;
  bottom: 0%;
  mix-blend-mode: normal;
}

header nav ul li.active::before {
  opacity: 1;
}

header nav ul li a,
header nav ul li::before {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

header nav ul li:not(.active):hover::before {
  opacity: 0.5;
}

header nav ul li:not(.active):hover a {
  color: #d0d6f9;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  letter-spacing: 2.7px;
}

header nav ul li a span {
  font-weight: bold;
  margin-right: 11px;
}

#home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 200px;
}

#home p {
  max-width: 450px;
  margin-right: 25px;
  margin-bottom: 60px;
}

#home p span#first-span {
  display: block;
  font-size: 28px;
  letter-spacing: 4.7px;
}

#home p span#second-span {
  font-size: 150px;
  margin: 25px 0;
  display: block;
  font-family: "Bellefair", serif;
}

#home p span#third-span {
  font-size: 18px;
  line-height: 32px;
}

#home .explore a {
  font-family: "Bellefair", serif;
  padding: 119.1px 62.66px;
  text-decoration: none;
  color: #0b0d17;
  background-color: white;
  display: block;
  font-size: 32px;
  letter-spacing: 2px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative;
  margin-right: 30px;
}

#home .explore a::before {
  content: "";
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  mix-blend-mode: normal;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#home .explore a:hover::before {
  width: 400px;
  height: 400px;
}

@media (max-width: 880px) {
  body {
    background-image: url(../Images/background-home-tablet.jpg);
  }
  header nav {
    width: fit-content;
    width: -moz-fit-content;
    padding-left: 0;
  }
  header nav::before {
    display: none;
  }
  header nav ul li a {
    letter-spacing: 2.36;
    font-size: 14px;
  }
  header nav ul li {
    margin-right: 37px;
  }
  #home {
    margin-top: 100px;
    text-align: center;
  }
  #home p span#first-span {
    font-size: 20px;
    letter-spacing: 3.38px;
  }
  #home p span#third-span {
    font-size: 16px;
    line-height: 28px;
  }
  #home .explore a {
    padding: 63.5055px 25.595px;
    font-size: 20px;
    margin-bottom: 60px;
  }
  #home .explore a:hover::before {
    width: 275px;
    height: 275px;
  }
}

@media (max-width: 700px) {
  body {
    overflow: scroll;
    position: relative;
  }
  header .icon img#hamburger {
    display: block;
    cursor: pointer;
  }
  header nav {
    height: 100vh;
    width: 0;
    display: block;
    position: absolute;
    right: 0;
    top: -40px;
    z-index: 500;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  header nav img {
    display: none;
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  header nav ul {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 25%;
    margin-top: 200px;
  }
  header nav ul li {
    display: block;
  }
  header nav ul li::before {
    display: none;
  }
  #home p {
    max-width: 100%;
  }
  #home p span#first-span {
    font-size: 16px;
    letter-spacing: 2.7px;
  }
  #home p span#second-span {
    font-size: 80px;
  }
  #home p span#third-span {
    font-size: 15px;
    line-height: 25px;
  }
  #home .explore a {
    padding: 63.5055px 25.595px;
    font-size: 20px;
  }
  #home .explore a:hover::before {
    width: 275px;
    height: 275px;
  }
}

/* destination Page */
body.destination-body {
  background-image: url(../Images/background-destination-desktop.jpg);
}
#destination {
  text-transform: uppercase;
  margin-top: 76px;
  margin-left: 50px;
}
#destination > p,
#crew > p,
#tech > p {
  font-size: 28px;
  letter-spacing: 4.72px;
}

#destination > p span,
#crew > p span,
#tech > p span {
  font-weight: 700;
  margin-right: 28px;
  opacity: 0.25;
}

#destination .content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 100px;
  gap: 70px;
}

#destination .content ul {
  list-style: none;
}

#destination .content ul li {
  display: inline-block;
  margin-right: 30px;
  position: relative;
  color: white;
  font-size: 16px;
  letter-spacing: 2.7px;
  cursor: pointer;
}

#destination .content ul li::before,
#destination .content ul li {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#destination .content ul li::before {
  content: "";
  background-color: white;
  opacity: 0;
  width: calc(100% + 4px);
  height: 3px;
  position: absolute;
  left: -2px;
  top: 30px;
  bottom: 0%;
  mix-blend-mode: normal;
}

#destination .content ul li.active::before {
  opacity: 1;
}

#destination .content ul li:not(.active):hover::before {
  opacity: 0.5;
}

#destination .content ul li:not(.active):hover {
  color: #d0d6f9;
}

#destination .content p.first {
  font-size: 100px;
  font-family: "Bellefair", serif;
  margin: 40px 0;
}

#destination .content p.second {
  font-size: 18px;
  color: #d0d6f9;
  text-transform: capitalize;
  font-family: "Barlow", sans-serif;
  line-height: 32px;
  position: relative;
  max-width: 444px;
  height: 128px;
  margin-bottom: 55px;
}

#destination .content p.second::before {
  content: "";
  height: 1px;
  width: calc(100% + 4px);
  left: 2px;
  bottom: -55px;
  position: absolute;
  background-color: white;
}

#destination .content .statiscs {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

#destination .content .statiscs > div p:first-child {
  font-size: 14px;
  letter-spacing: 2.36px;
  color: #d0d6f9;
}

#destination .content .statiscs > div p:last-child {
  font-family: "Bellefair", serif;
  font-size: 28px;
}

@media (max-width: 1100px) {
  body.destination-body {
    background-image: url(../Images/background-destination-tablet.jpg);
  }
  #destination {
    margin-top: 40px;
  }
  #destination > p,
  #crew > p,
  #tech > p {
    font-size: 20px;
  }
  #destination .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 50px;
  }
  #destination .content img {
    width: 300px;
  }
  #destination .content .text {
    text-align: center;
  }
  #destination .content p.first {
    font-size: 80px;
    margin-top: 30px;
    margin-bottom: 8px;
  }
  #destination .content p.second {
    font-size: 16px;
    max-width: 575px;
    height: auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 700px) {
  body.destination-body {
    background-image: url(../Images/background-destination-mobile.jpg);
  }
  #destination {
    margin-left: 0;
  }
  #destination > p,
  #crew > p,
  #tech > p {
    text-align: center;
    font-size: 16px;
    letter-spacing: 2.7px;
  }
  #destination > p span,
  #crew > p span,
  #tech > p span {
    margin-right: 16px;
  }
  #destination .content img {
    width: 150px;
  }
  #destination .content ul {
    width: 100%;
    margin-left: -20px;
  }
  #destination .content p.first {
    font-size: 56px;
  }
  #destination .content p.second {
    line-height: 25px;
    font-size: 15px;
  }
  #destination .content ul li {
    font-size: 14px;
    letter-spacing: 2.36px;
  }
  #destination .content .statiscs {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

/* Crew Page */
.crew-body {
  background-image: url(../Images/background-crew-desktop.jpg);
}

#crew {
  text-transform: uppercase;
  margin-top: 76px;
  margin-left: 50px;
}

#crew .content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 100px;
  gap: 70px;
  align-items: center;
}

#crew .content .text {
  position: relative;
}

#crew .content .text h3 {
  font-family: "Bellefair", serif;
  font-size: 32px;
  opacity: 0.5;
  font-weight: normal;
}

#crew .content .text h1 {
  font-family: "Bellefair", serif;
  font-size: 56px;
  font-weight: normal;
}

#crew .content .text p {
  font-family: "Barlow", sans-serif;
  max-width: 445px;
  font-size: 18px;
  color: #d0d6f9;
  line-height: 32px;
  text-transform: capitalize;
}

#crew .content ul {
  list-style: none;
  position: absolute;
  bottom: -50px;
  left: -40px;
  min-width: 209px;
}

#crew .content ul li {
  cursor: pointer;
  display: inline-block;
  margin-right: 25px;
  position: relative;
  width: 15px;
  height: 15px;
  opacity: 0.17;
  background-color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#crew .content ul li.active {
  opacity: 1;
}

#crew .content ul li:not(.active):hover {
  opacity: 0.5;
}

@media (max-width: 1200px) {
  #crew {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #crew .content {
    text-align: center;
  }
  #crew .content ul {
    left: 50%;
    transform: translateX(-55%);
    -webkit-transform: translateX(-55%);
    -moz-transform: translateX(-55%);
    -ms-transform: translateX(-55%);
    -o-transform: translateX(-55%);
  }
  #crew .content .text p {
    max-width: 100%;
  }
}

@media (max-width: 700px) {
  #crew {
    margin: 50px auto;
  }
  #crew .content {
    flex-direction: column-reverse;
    margin-top: 60px;
  }
  #crew .content img {
    width: 250px;
  }
  #crew .content .text h3 {
    font-size: 16px;
  }
  #crew .content .text h1 {
    font-size: 24px;
  }
  #crew .content .text p {
    font-size: 15px;
    line-height: 25px;
  }
  #crew .content ul {
    bottom: auto;
    top: -50px;
  }
}

/* Technology Page */
.tech-body {
  background-image: url(../Images/background-technology-desktop.jpg);
}

#tech {
  text-transform: uppercase;
  margin-top: 76px;
  margin-left: 50px;
}

#tech .content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 100px;
  gap: 70px;
  align-items: center;
}

#tech .content .text h4 {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #d0d6f9;
}

#tech .content .text h1 {
  font-family: Bellefair;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  margin: 0;
}

#tech .content .text p {
  max-width: 444px;
  font-size: 18px;
  line-height: 32px;
  color: #d0d6f9;
  text-transform: capitalize;
}

#tech .content .text ul {
  font-family: Bellefair;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
}

#tech .content .text ul li {
  font-size: 32px;
  color: white;
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  line-height: 80px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid #ffffff40;
  position: relative;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#tech .content .text ul li a {
  display: block;
  text-decoration: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

#tech .content .text ul li.active {
  background-color: white;
  color: black;
}

#tech .content .text ul li:not(.active):hover {
  border-color: white;
}

#tech .content .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

#tech .content .image img {
  max-width: 100%;
}

@media (max-width: 1390px) {
  #tech {
    margin: 60px auto;
  }
  #tech .content {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  #tech .content .text {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
  }
  #tech .content .text ul {
    flex-direction: row;
  }
}

@media (max-width: 700px) {
  #tech {
    margin: 60px -28px;
  }
  #tech .content {
    margin-top: 32px;
    gap: 35px;
  }
  #tech .content .text {
    gap: 26px;
  }
  #tech .content .text ul {
    gap: 16px;
  }
  #tech .content .text ul li {
    width: 60px;
    height: 60px;
    font-size: 24px;
    line-height: 60px;
  }
  #tech .content .text h1 {
    font-size: 40px;
    line-height: 45.84px;
  }
  #tech .content .text p {
    font-size: 16px;
    line-height: 28px;
  }
}

@media (max-width: 500px) {
  #tech .content .text ul li {
    width: 40px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
  }
  #tech .content .text h4 {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.36px;
  }
  #tech .content .text h1 {
    font-size: 24px;
    line-height: 28px;
  }
  #tech .content .text p {
    font-size: 15px;
    line-height: 25px;
  }
}
